EasyProcess==0.1.9
Flask==0.10.1
Jinja2==2.8
MarkupSafe==0.23
PyVirtualDisplay==0.1.5
PyYAML==3.11
Werkzeug==0.11
apipkg==1.4
argparse==1.2.1
blessings==1.6
execnet==1.4.1
itsdangerous==0.24
nose==1.3.7
nose-progressive==1.5.1
pep8==1.6.2
py==1.4.30
pytest==2.8.2
pytest-cache==1.0
pytest-flask==0.10.0
pytest-html==1.7
pytest-pep8==1.0.6
pytest-selenium==1.0
pytest-variables==1.2
pytest-xdist==1.13.1
requests==2.8.1
selenium==2.47.3
wsgiref==0.1.2
